body {
	background-color:#fff873;
	text-align:center;
	border-collapse: separate; 
}

#banner h1 {
	text-align:center;
	background-color:#FAFAFA;
	margin:0 auto;
	width:360px;
	border-radius: 7px;
}

#card-section {
	float:right;
	margin:0 auto;
	margin-top: 50px;
	margin-right:50px;
	border-radius: 50px;
	text-align: center;
	background-color: white;
	width: 26%;
	height: 785px;
}

#card-section img {
	height:60%;
}

#description {
	font-size: 25px;
	background-color: #ECECEC;
	border-radius: 7px;
}
